/****************************************
  Font Styles
  Colors: #4B596E (Dark Gray);
*****************************************/

@font-face{font-family:'Lato';font-style:normal;font-weight:100;src:local('Lato Hairline'),local('Lato-Hairline'),url(../fonts/Lato-Hairline.ttf) format('truetype');}
@font-face{font-family:'Lato';font-style:normal;font-weight:300;src:local('Lato Light'),local('Lato-Light'),url(../fonts/Lato-Light.ttf) format('truetype');}
@font-face{font-family:'Lato';font-style:normal;font-weight:400;src:local('Lato Regular'),local('Lato-Regular'),url(../fonts/Lato-Regular.ttf) format('truetype');}
@font-face{font-family:'Lato';font-style:normal;font-weight:700;src:local('Lato Bold'),local('Lato-Bold'),url(../fonts/Lato-Bold.ttf) format('truetype');}
@font-face{font-family:'Lato';font-style:normal;font-weight:900;src:local('Lato Black'),local('Lato-Black'),url(../fonts/Lato-Black.ttf) format('truetype');}

/****************************************
  Default Styles
  Colors: #4B596E (Dark Gray);
*****************************************/

html {
  box-sizing: border-box;
  color: #8A919E;
  font: 12pt "Lato", Arial;
  font-weight: 300;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: #8A919E;
}

p {
  line-height: 18px;
}

/****************************************
  Layout Styles
  Mobile First Styles For Viewing Under 640px
  Colors: #E5E5E5 (Light Gray), #F7F7F7 (Lighter Gray),
          #004DA9 (Dark Blue), #FFF (White), #626C7F (Dark Gray)
*****************************************/

/*** Header Section ***/

.logo-header {
  border-bottom: solid #E5E5E5 1px;
}

.main-logo {
  margin: 0 0 10px 0;
  width: 150px;
}

/*** Headlining Content Section ***/

.main-headline {
  margin: 0 25px 0 25px;
  padding: 10px 0 10px 0;
}

.main-headline h1 {
  color: #004DA9;
  font-size: 24px;
  font-weight: 900;
  text-align: center;
}

.main-subheadline, .content-contact {
  background-color: #004DA9;
  color: #FFF;
  padding: 1px;
  text-align: center;
}

.main-subheadline {
  font-weight: 700;
}

/*** Offers Section ****/

.offers {
  text-align: center;
}

.offers h3 {
  color: #626C7F;
  margin-bottom: 10px;
  font-weight: 300;
}

.content-contact h3 {
  margin-bottom: 0;
}

.offer-img {
  background-size: 125px 125px;
  height: 125px;
  margin: 10px auto;
  width: 125px;
}

.img-1 {
  background-image: url("../images/small/no-2nd-bill-sm.jpg")
}

.img-2 {
  background-image: url("../images/small/select-polycom-phones-sm.png");
}

.img-3 {
  background-image: url("../images/small/30-day-back-sm.jpg");
}

.offers p, .content-contact p {
  font-size: 12px;
}

.offers p {
  margin: 5px 25px 5px 25px;
}

.offer-odd, .offer-even {
  min-height: 225px;
  padding: 15px 0 15px 0;
}

.offer-even {
  background-color: #F7F7F7;
}

/*** Contact Info Section ***/

.content-contact {
  min-height: 175px;
}

.content-contact h3 {
  margin-top: 70px;
  font-weight: 100;
}

.content-contact p {
  margin-top: 0;
}

/*** Footer Section ***/

.main-footer {
  text-align: center;
}

.footer-logo {
  background-image: url("../images/small/nextiva_logo_2015-sm.png");
  background-size: 125px 63px;
  height: 63px;
  margin: 0 auto;
  width: 125px;
}

.main-footer h5 {
  font-size: 9px;
  margin: 0 25px 10px 25px;
}

/****************************************
  Media Query Layout Styles: 640px - 1023px
*****************************************/

@media (min-width: 640px) {

  /* Header Section */

  .logo {
    margin: 0 auto;
    width: 700px;
  }

  .main-logo {
    width: 165px;
  }

  /* Headlining Contenct Section */

  .headline, .offer, .main-footer-panel {
    margin: 0 auto;
    width: 600px;
  }

  .main-headline h1 {
    font-size: 36px;
  }

  .main-subheadline h2 {
    font-size: 22px;
  }

  /* Offers Section */

  .offers h3, .content-contact h3 {
    font-size: 18px;
  }

  .offer-img {
    background-size: 175px 175px;
    height: 175px;
    margin: 0 auto;
    width: 175px;
  }

  .img-1 {
    background-image: url("../images/medium/no-2nd-bill-md.jpg")
  }

  .img-2 {
    background-image: url("../images/medium/select-polycom-phones-md.png");
  }

  .img-3 {
    background-image: url("../images/medium/30-day-back-md.jpg");
  }

  /* Contact Info Section */

  .content-contact p {
    font-size: 14px;
  }

  /* Footer Section */


}

/****************************************
  Media Query Layout Styles: >= 1024px
*****************************************/

@media (min-width: 1024px) {

  /* Header Section */

  .logo {
    width: 1000px;
  }

  .main-logo {
    width: 264px;
  }

  /* Headlining Content Section */

  .headline, .offer, .main-footer-panel {
    width: 850px;
  }

  .main-headline h1 {
    font-size: 50px;
  }

  .main-subheadline h2 {
    font-size: 34px;
  }

  /* Offers Section */

  .offers h3 {
    font-size: 24px;
    padding-top: 30px;
  }

  .offers p {
    font-size: 15px;
    line-height: 25px;
    margin-top: 20px;
  }

  .offer-odd, .offer-even {
    min-height: 318px;
  }

  .offer-img.img-1, .offer-img.img-3 {
    background-size: 240px 240px;
    float: left;
    height: 240px;
    margin-top: 20px;
    margin-left: 100px;
    width: 240px;
  }

  .offer-img.img-2 {
    background-size: 425px 330px;
    float: right;
    height: 330px;
    width: 425px;
  }

  .img-1 {
    background-image: url("../images/large/no-2nd-bill-lg.jpg");
  }

  .img-2 {
    background-image: url("../images/large/select-polycom-phones-lg.png");
  }

  .img-3 {
    background-image: url("../images/large/30-day-back-lg.jpg");
  }

  .offer-odd h3, .offer-odd p {
    margin-left: 450px;
    text-align: left;
  }

  .offer-even h3 {
    margin-left: 65px;
    margin-top: 0;
  }

  .offer-even p {
    margin-left: 65px;
  }

  .offer-even h3, .offer-even p {
    padding-right: 425px;
    text-align: left;
  }

  /* Contact Info Section */

  .content-contact {
    min-height: 225px;
  }

  .content-contact h3 {
    font-size: 28px;
    font-weight: 100;
  }

  .content-contact p {
    font-size: 23px;
    font-weight: 100;
    padding-top: 5px;
  }

  /* Footer Section */

  .main-footer h5 {
    font-size: 11px;
    font-weight: 300;
    margin: 0 25px 10px 25px;
    padding-top: 30px;
    text-align: right;
  }

  .footer-logo {
    float: left;
  }
}