/*@font-face{font-family:'Lato';font-style:normal;font-weight:100;src:local('Lato Hairline'),local('Lato-Hairline'),url(http://www.nextiva.com/fonts/boeCNmOCCh-EWFLSfVffDg.woff) format('woff');}
@font-face{font-family:'Lato';font-style:normal;font-weight:300;src:local('Lato Light'),local('Lato-Light'),url(http://www.nextiva.com/fonts/KT3KS9Aol4WfR6Vas8kNcg.woff) format('woff');}
@font-face{font-family:'Lato';font-style:normal;font-weight:400;src:local('Lato Regular'),local('Lato-Regular'),url(http://www.nextiva.com/fonts/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');}
@font-face{font-family:'Lato';font-style:normal;font-weight:700;src:local('Lato Bold'),local('Lato-Bold'),url(http://www.nextiva.com/fonts/wkfQbvfT_02e2IWO3yYueQ.woff) format('woff');}
@font-face{font-family:'Lato';font-style:normal;font-weight:900;src:local('Lato Black'),local('Lato-Black'),url(http://www.nextiva.com/fonts/BVtM30trf7q_jfqYeHfjtA.woff) format('woff');}*/


html {
    box-sizing: border-box;
    color: #4B596E;
    font: 12pt 'Lato', Arial;
    font-weight: 300;
}

*, *::before, *::after {
    box-sizing: inherit;
    color: inherit;
    font: inherit;
}

a {
  text-decoration: none;
}

.logo-header {
  border-bottom: solid #E5E5E5 1px;
}

.main-logo {
  width: 150px;
  margin: 0 0 10px 0;
  transition: width 2s;
}

.main-headline {
  margin: 0 25px 0 25px;
  padding: 10px 0 10px 0;
}

.main-headline h1 {
  color: #004DA9;
  font-weight: 900;
  text-align: center;
  font-size: 24px;

}

.main-subheadline, .content-contact {
  background-color: #004DA9;
  color: #FFF;
  text-align: center;
  padding: 1px;
}

.main-subheadline {
  font-weight: 700;
}

.offers {
  text-align: center;
}

.offers h3, .content-contact h3 {
  margin-bottom: 0;
}

.offer-img {
  height: 125px;
  width: 125px;
  margin: 0 auto;
}

.img-1 {
  background-image: url("../images/small/no-2nd-bill-sm.jpg")
}

.img-2 {
  background-image: url("../images/small/select-polycom-phones-sm.png");
}

.img-3 {
  background-image: url("../images/small/30-day-back-sm.jpg");
}

.offers p, .content-contact p {
  font-size: 12px;
}

.offers p {
  margin: 5px 25px 5px 25px;
}

.offer-odd, .offer-even {
  padding: 15px 0 15px 0;
  min-height: 225px;
}

.offer-even {
  background-color: #F7F7F7;
}

.content-contact {
  min-height: 175px;
}

.content-contact h3 {
  margin-top: 70px;
}

.content-contact p {
  margin-top: 0;
}

.main-footer {
  text-align: center;
  margin: 0 auto;
}

.footer-logo-sm {
  height: 75px;
  width: 150px;
  background-image: url("../images/small/nextiva_logo_2015-sm.png");
  margin: 0 auto;
}

.main-footer h5 {
  font-size: 8px;
  margin: 0 25px 10px 25px;
}

@media (min-width: 640px) {
  .logo {
    margin: 0 auto;
    width: 700px;
  }

  .main-logo {
    width: 165px;
    transition: width 2s;
  }

  .headline, .offer, .main-footer-panel {
    margin: 0 auto;
    width: 600px;
  }

  .main-headline h1 {
    font-size: 36px;
  }

  .main-subheadline h2 {
    font-size: 22px;
  }

  .offers h3, .content-contact h3 {
  font-size: 18px;
  }

  .offer-img {
  height: 175px;
  width: 175px;
  margin: 0 auto;
}

.img-1 {
  background-image: url("../images/medium/no-2nd-bill-md.jpg")
}

.img-2 {
  background-image: url("../images/medium/select-polycom-phones-md.png");
}

.img-3 {
  background-image: url("../images/medium/30-day-back-md.jpg");
}

  .content-contact p {
    font-size: 14px;
  }

  .main-footer-panel {
    text-align: left;
    overflow: hidden;
  }

  .main-footer-panel h5 {
    float: right;
    margin: 20px 0 0 0;
  }
}

@media (min-width: 1024px) {
  .logo {
    width: 1000px;
  }

  .main-logo {
    width: 264px;
  }

  .headline, .offer, .main-footer-panel {
    width: 900px;
  }

  .main-headline h1 {
    font-size: 50px;
  }

  .main-subheadline h2 {
    font-size: 34px;
  }

  .offers h3 {
    padding-top: 30px;
    font-size: 24px;
  }

  .offers p {
    margin-top: 20px;
    font-size: 15px;
  }

  .offer-odd, .offer-even {
    min-height: 318px
  }

  .offer-img.img-1, .offer-img.img-3 {
    float: left;
  }

  .offer-img.img-2 {
    float: right;
  }

  .offer-img.img-1, .offer-img.img-3 {
    height: 215px;
    width: 215px;
  }

  .offer-img.img-2 {
    height: 300px;
    width: 379px;
  }

  .img-1 {
    background-image: url("../images/large/no-2nd-bill-lg.jpg")
  }

  .img-2 {
    background-image: url("../images/large/select-polycom-phones-lg.png");
  }

  .img-3 {
    background-image: url("../images/large/30-day-back-lg.jpg");
  }

  .offer-odd img{
    float: left;
    height: 215px;
    padding-left: 150px;
    margin-top: 10px;    
  }

  .offer-odd h3, .offer-odd p {
    text-align: left;
    margin-left: 450px;
  }

  .offer-even img {
    float: right;
    height: 300px;
  }

  .offer-even h3 {
    margin-top: 0;
    margin-left: 65px;
  }

  .offer-even p {
    margin-left: 0;
    margin-left: 65px;
  }

  .offer-even h3, .offer-even p {
    text-align: left;
    padding-right: 450px;
  }

  .content-contact {
    min-height: 225px;
  }

  .content-contact h3 {
    font-size: 30px;
    font-weight: 100;
  }

  .content-contact p {
    font-size: 23px;
    font-weight: 100;
  }

  .main-footer img {
    height: 75px;
  }

  .main-footer h5 {
    padding-top: 30px;
    font-size: 11px;
    margin: 0 25px 10px 25px;
  }
}